# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel("housesales.xlsx")

## Inspecting Data set

### data.info()

prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 10 columns):
sqft            220 non-null int64
hometype        220 non-null object
beds            220 non-null int64
baths           220 non-null int64
lotsize         220 non-null int64
yearbulit       220 non-null int64
daysonmarket    220 non-null int64
parkingtype     220 non-null int64
zip             220 non-null int64
listprice       220 non-null float64
dtypes: float64(1), int64(8), object(1)
memory usage: 17.3+ KB

### data.head()

Return the first `n` rows data,default
n value is 5 if not specified

In [5]:
data.head(10) # first 10 records in data

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,1,80303,895.0
1,2920,Single Family Residential,3,3,38754,1966,81,1,80303,659.0
2,3845,Single Family Residential,4,3,46609,2005,19,1,80303,1840.0
3,5588,Single Family Residential,4,5,223463,2008,116,1,80303,6499.0
4,3934,Single Family Residential,4,4,40864,2014,130,1,80305,1500.0
5,7113,Single Family Residential,5,5,266152,1991,40,1,80303,2790.0
6,2340,Single Family Residential,4,3,7204,1959,39,1,80305,479.9
7,3857,Single Family Residential,4,3,10671,1995,37,1,80305,1487.5
8,6589,Single Family Residential,4,5,15682,1979,35,1,80305,2795.0
9,6549,Single Family Residential,5,6,30928,2000,92,1,80303,1965.0

## data.tail()

Return the last `n` rows.

In [6]:
data.tail(5) # Bottom 5 records in data

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
215,5180,Single Family Residential,6,4,128710,2006,81,1,80302,1500.000
216,5953,Single Family Residential,5,5,37373,2000,121,1,80301,2399.000
217,8619,Single Family Residential,6,6,47216,1991,81,1,80304,2495.000
218,650,Condo,1,1,22214,2002,62,1,80304,127.969
219,2608,Single Family Residential,3,3,86722,1991,172,1,80302,664.900

## data.columns

Get column names of a data frame

In [7]:
data.columns

Index(['sqft', 'hometype', 'beds', 'baths', 'lotsize', 'yearbulit',
       'daysonmarket', 'parkingtype', 'zip', 'listprice'],
      dtype='object')

## data.index

Get dataframe index

In [8]:
data.index

RangeIndex(start=0, stop=220, step=1)

## data.dtypes

Get column datatypes

In [9]:
data.dtypes

sqft              int64
hometype         object
beds              int64
baths             int64
lotsize           int64
yearbulit         int64
daysonmarket      int64
parkingtype       int64
zip               int64
listprice       float64
dtype: object

### data.shape

Returns number of rows and columns

In [10]:
data.shape

(220, 10)

### data.values

Only the values in the DataFrame will be returned, the axes labels
will be removed.

In [13]:
data.values

array([[3040, 'Single Family Residential', 4, ..., 1, 80303, 895.0],
       [2920, 'Single Family Residential', 3, ..., 1, 80303, 659.0],
       [3845, 'Single Family Residential', 4, ..., 1, 80303, 1840.0],
       ...,
       [8619, 'Single Family Residential', 6, ..., 1, 80304, 2495.0],
       [650, 'Condo', 1, ..., 1, 80304, 127.969],
       [2608, 'Single Family Residential', 3, ..., 1, 80302, 664.9]],
      dtype=object)

## data['column name'].unique()

Get unique values of a specified column.

In [14]:
data['hometype'].unique()

array(['Single Family Residential', 'Townhouse', 'Condo'], dtype=object)

## data['column name'].nunique()

The nunique( ) shows the number of unique values.

In [15]:
data['hometype'].nunique()

3

## data['column name'].value_counts()

value_counts( ) creates a frequency distribution. By default ascending = False i.e. it will show the 'Index' having the maximum frequency on the top.

In [16]:
data['hometype'].value_counts()

Single Family Residential    176
Condo                         37
Townhouse                      7
Name: hometype, dtype: int64

## Data Cleaning

### data.columns = ['new col name1','new col name2']

Rename `all` column names of
DataFrame at a time.

In [18]:
df = pd.read_csv("tennis.csv")
df.head(2)

  outlook temp humidity  windy play
0   sunny  hot     high  False   no
1   sunny  hot     high   True   no

In [20]:
df.columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [23]:
df.columns = ['out','tem','hum','wind','ply']

In [24]:
df.head(2)

     out  tem   hum   wind ply
0  sunny  hot  high  False  no
1  sunny  hot  high   True  no

### data.rename()

`data.rename(columns={‘old_columnname’:‘new_
columnname’}, inplace=True)`

Rename a specific column names.

In [25]:
df.head(1)

     out  tem   hum   wind ply
0  sunny  hot  high  False  no

In [29]:
df.rename(columns={'out':'outlook'})

     outlook   tem     hum   wind  ply
0      sunny   hot    high  False   no
1      sunny   hot    high   True   no
2   overcast   hot    high  False  yes
3      rainy  mild    high  False  yes
4      rainy  cool  normal  False  yes
5      rainy  cool  normal   True   no
6   overcast  cool  normal   True  yes
7      sunny  mild    high  False   no
8      sunny  cool  normal  False  yes
9      rainy  mild  normal  False  yes
10     sunny  mild  normal   True  yes
11  overcast  mild    high   True  yes
12  overcast   hot  normal  False  yes
13     rainy  mild    high   True   no

In [28]:
df.head(1)

     out  tem   hum   wind ply
0  sunny  hot  high  False  no

In [30]:
df.rename(columns={'out':'outlook'},
         inplace=True)

In [31]:
df.head(2)

  outlook  tem   hum   wind ply
0   sunny  hot  high  False  no
1   sunny  hot  high   True  no

In [52]:
l = list(range(1,11))

In [53]:
ll =[]
def even(l):
    ll =[]
    for i in l:
        if i%2 == 0:
            ll.append(i)
    return ll

In [54]:
even(l)

[2, 4, 6, 8, 10]

In [55]:
a = lambda x : x%2 ==0

In [56]:
list(filter(a,l))

[2, 4, 6, 8, 10]

In [61]:
df.rename(index=lambda x:x+1) # Mass Renaming of row index

     outlook   tem     hum   wind  ply
1      sunny   hot    high  False   no
2      sunny   hot    high   True   no
3   overcast   hot    high  False  yes
4      rainy  mild    high  False  yes
5      rainy  cool  normal  False  yes
6      rainy  cool  normal   True   no
7   overcast  cool  normal   True  yes
8      sunny  mild    high  False   no
9      sunny  cool  normal  False  yes
10     rainy  mild  normal  False  yes
11     sunny  mild  normal   True  yes
12  overcast  mild    high   True  yes
13  overcast   hot  normal  False  yes
14     rainy  mild    high   True   no

### data['column name'].astype( )

Suppose we want to convert it to float (numeric variable with decimals).

In [62]:
data.head(2)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,1,80303,895.0
1,2920,Single Family Residential,3,3,38754,1966,81,1,80303,659.0

In [63]:
data.dtypes

sqft              int64
hometype         object
beds              int64
baths             int64
lotsize           int64
yearbulit         int64
daysonmarket      int64
parkingtype       int64
zip               int64
listprice       float64
dtype: object

In [68]:
data['listprice'] = data['listprice'].astype('int')
data.dtypes

sqft             int64
hometype        object
beds             int64
baths            int64
lotsize          int64
yearbulit        int64
daysonmarket     int64
parkingtype      int64
zip              int64
listprice        int32
dtype: object

In [69]:
data.memory_usage()

Index             80
sqft            1760
hometype        1760
beds            1760
baths           1760
lotsize         1760
yearbulit       1760
daysonmarket    1760
parkingtype     1760
zip             1760
listprice        880
dtype: int64

### data.replace()

Replace values given in `to_replace` with `value`.Values of the DataFrame are replaced with other values dynamically.

`data.replace(to_replace,value)`

In [70]:
data.head(2)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,1,80303,895
1,2920,Single Family Residential,3,3,38754,1966,81,1,80303,659

In [71]:
data['hometype'].unique()

array(['Single Family Residential', 'Townhouse', 'Condo'], dtype=object)

In [72]:
d = {'Single Family Residential':1,'Townhouse':2,'Condo':3}
data.replace(d).head(2)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,1,4,3,54886,1961,349,1,80303,895
1,2920,1,3,3,38754,1966,81,1,80303,659

In [ ]:
data.head(2)

In [75]:
#sunny = 1
#overcast =2
#rainy = 3

d = {'sunny':1,
    'overcast':2,
    'rainy':3}

df.replace(d,inplace=True)

In [76]:
df.head(2)

   outlook  tem   hum   wind ply
0        1  hot  high  False  no
1        1  hot  high   True  no

In [78]:
data['parkingtype'].unique()

array([1, 0], dtype=int64)

In [79]:
data['parkingtype'].replace([1,0],['Yes','No'],inplace=True)

### data.set_index()

Set the DataFrame index (row labels) using one or more existing
columns. By default yields a new object.

In [88]:
df = pd.read_csv("tennis.csv")
df.head(2)

  outlook temp humidity  windy play
0   sunny  hot     high  False   no
1   sunny  hot     high   True   no

In [89]:
df['outlook'].unique()

array(['sunny', 'overcast', 'rainy'], dtype=object)

In [92]:
df.set_index('outlook').columns

Index(['temp', 'humidity', 'windy', 'play'], dtype='object')

In [93]:
df.set_index('outlook').index

Index(['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 'overcast',
       'sunny', 'sunny', 'rainy', 'sunny', 'overcast', 'overcast', 'rainy'],
      dtype='object', name='outlook')

In [94]:
df.set_index(["humidity",'outlook'])

                   temp  windy play
humidity outlook
high     sunny      hot  False   no
         sunny      hot   True   no
         overcast   hot  False  yes
         rainy     mild  False  yes
normal   rainy     cool  False  yes
         rainy     cool   True   no
         overcast  cool   True  yes
high     sunny     mild  False   no
normal   sunny     cool  False  yes
         rainy     mild  False  yes
         sunny     mild   True  yes
high     overcast  mild   True  yes
normal   overcast   hot  False  yes
high     rainy     mild   True   no

In [95]:
data.set_index('yearbulit')

,sqft,hometype,beds,baths,lotsize,daysonmarket,parkingtype,zip,listprice
yearbulit,,,,,,,,,
1961,3040,Single Family Residential,4,3,54886,349,Yes,80303,895
1966,2920,Single Family Residential,3,3,38754,81,Yes,80303,659
2005,3845,Single Family Residential,4,3,46609,19,Yes,80303,1840
2008,5588,Single Family Residential,4,5,223463,116,Yes,80303,6499
2014,3934,Single Family Residential,4,4,40864,130,Yes,80305,1500
1991,7113,Single Family Residential,5,5,266152,40,Yes,80303,2790
1959,2340,Single Family Residential,4,3,7204,39,Yes,80305,479
1995,3857,Single Family Residential,4,3,10671,37,Yes,80305,1487
1979,6589,Single Family Residential,4,5,15682,35,Yes,80305,2795
2000,6549,Single Family Residential,5,6,30928,92,Yes,80303,1965
1962,1293,Single Family Residential,3,1,7928,50,No,80305,410
1967,3602,Single Family Residential,4,3,14851,42,Yes,80305,1900
1974,2648,Single Family Residential,3,3,12109,67,Yes,80305,899
1976,1266,Single Family Residential,3,2,4315,12,Yes,80305,609
1962,1796,Single Family Residential,4,2,6970,45,Yes,80305,545
1961,2076,Single Family Residential,4,2,7982,24,No,80305,699
1963,2052,Single Family Residential,5,2,6970,18,Yes,80305,589
1972,3136,Single Family Residential,4,3,11064,135,Yes,80305,700
1978,1320,Townhouse,3,2,1684,5,Yes,80305,415
1977,3362,Single Family Residential,3,3,7797,3,Yes,80305,975
1950,2360,Single Family Residential,3,2,6273,121,Yes,80302,999
1950,2908,Single Family Residential,3,3,11097,101,No,80302,1849
1951,2436,Single Family Residential,3,2,92042,158,Yes,80302,3250
2012,5769,Single Family Residential,5,6,19471,174,Yes,80302,3875
1990,954,Condo,2,2,26,17,Yes,80303,255
1966,4430,Single Family Residential,5,4,33106,24,Yes,80303,824
1987,3276,Single Family Residential,3,3,3790,75,Yes,80303,629
1952,1769,Single Family Residential,3,3,7125,38,Yes,80302,699
1989,2883,Single Family Residential,5,3,5965,19,Yes,80303,679
1984,2220,Condo,4,3,30928,34,Yes,80303,375
...,...,...,...,...,...,...,...,...,...
1998,6167,Single Family Residential,3,3,139828,68,Yes,80304,3250
1967,2469,Single Family Residential,3,3,249464,53,Yes,80304,775
1983,1698,Single Family Residential,2,3,3955,2,Yes,80304,530
1985,2495,Single Family Residential,4,3,37026,13,Yes,80304,670
1985,2886,Single Family Residential,6,4,9627,10,Yes,80304,619
1958,1056,Single Family Residential,3,1,39944,10,No,80304,1250
1985,1468,Single Family Residential,3,2,3659,16,Yes,80304,485
1958,1056,Single Family Residential,3,1,39944,5,No,80304,1250
1997,4520,Single Family Residential,4,3,7841,13,Yes,80301,797
2010,4660,Single Family Residential,5,4,6102,45,Yes,80301,998
1959,1534,Single Family Residential,3,2,7020,16,Yes,80304,659
1981,3504,Single Family Residential,3,4,25343,2,Yes,80301,734
1998,4523,Single Family Residential,4,4,7912,55,Yes,80301,930
1986,2464,Single Family Residential,3,3,7441,25,Yes,80304,749
2007,5592,Single Family Residential,5,5,22158,67,Yes,80304,2295
2013,3722,Single Family Residential,4,3,4200,56,Yes,80301,824
2011,3440,Single Family Residential,3,3,5062,36,Yes,80301,895
2008,4224,Single Family Residential,3,3,4051,9,Yes,80301,899
1999,4820,Single Family Residential,4,4,97574,89,Yes,80304,2250
1995,3836,Single Family Residential,4,4,8276,125,Yes,80304,804
2002,690,Condo,1,1,26,340,Yes,80304,239
1951,1728,Single Family Residential,2,2,435600,220,No,80301,750
1995,2474,Single Family Residential,3,3,4879,72,Yes,80304,510
1999,4555,Single Family Residential,4,4,6077,130,Yes,80304,1025
2002,1210,Condo,2,2,26,163,Yes,80304,169
2006,5180,Single Family Residential,6,4,128710,81,Yes,80302,1500
2000,5953,Single Family Residential,5,5,37373,121,Yes,80301,2399
1991,8619,Single Family Residential,6,6,47216,81,Yes,80304,2495
2002,650,Condo,1,1,22214,62,Yes,80304,127
1991,2608,Single Family Residential,3,3,86722,172,Yes,80302,664

## Sort and Filter the Data

### data.sort_values()

`df.sort_values(by =[‘Column1’, ‘Column2’],ascending=[True,True’])`

Sort by the values along either axis

In [96]:
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [98]:
df.sort_values(by='outlook',ascending=True)

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
9      rainy  mild   normal  False  yes
13     rainy  mild     high   True   no
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
10     sunny  mild   normal   True  yes

In [99]:
df.sort_values(by='outlook',ascending=False)

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
10     sunny  mild   normal   True  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
9      rainy  mild   normal  False  yes
13     rainy  mild     high   True   no
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

In [101]:
data.sort_values(by='sqft',ascending=False)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
186,10466,Single Family Residential,5,6,190970,2011,50,Yes,80304,7500
217,8619,Single Family Residential,6,6,47216,1991,81,Yes,80304,2495
158,8401,Single Family Residential,6,6,33541,2009,103,Yes,80304,3450
105,7980,Single Family Residential,6,3,13945,1912,37,Yes,80302,4250
49,7333,Single Family Residential,5,5,12500,2007,295,Yes,80302,1895
5,7113,Single Family Residential,5,5,266152,1991,40,Yes,80303,2790
176,6908,Single Family Residential,5,6,45782,2004,37,Yes,80304,2995
95,6740,Single Family Residential,5,5,11667,2008,47,Yes,80302,2399
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
9,6549,Single Family Residential,5,6,30928,2000,92,Yes,80303,1965
121,6334,Single Family Residential,6,6,14680,2004,90,Yes,80304,1695
190,6167,Single Family Residential,3,3,139828,1998,68,Yes,80304,3250
216,5953,Single Family Residential,5,5,37373,2000,121,Yes,80301,2399
166,5907,Single Family Residential,6,5,15246,1991,16,Yes,80304,1199
104,5888,Condo,2,3,13500,1883,1308,Yes,80302,1950
110,5780,Single Family Residential,4,3,48395,1969,76,Yes,80302,3950
23,5769,Single Family Residential,5,6,19471,2012,174,Yes,80302,3875
168,5722,Single Family Residential,5,4,14827,1998,24,Yes,80304,2099
180,5632,Single Family Residential,4,6,50901,2005,27,Yes,80304,2295
171,5616,Single Family Residential,5,5,21257,2001,24,Yes,80304,1597
204,5592,Single Family Residential,5,5,22158,2007,67,Yes,80304,2295
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
189,5490,Single Family Residential,6,5,10890,1993,91,Yes,80304,995
164,5386,Single Family Residential,4,2,40075,1988,107,Yes,80304,2550
39,5353,Single Family Residential,4,4,33585,2008,354,Yes,80303,1850
120,5315,Single Family Residential,4,5,13460,2008,150,Yes,80304,2250
215,5180,Single Family Residential,6,4,128710,2006,81,Yes,80302,1500
177,5133,Single Family Residential,4,2,30056,2002,127,Yes,80304,2825
118,5068,Single Family Residential,5,4,16117,1993,16,Yes,80303,1185
144,5049,Single Family Residential,5,4,11725,2008,10,Yes,80304,2100
...,...,...,...,...,...,...,...,...,...,...
153,1241,Townhouse,2,2,1974,1982,8,Yes,80301,369
101,1232,Single Family Residential,3,2,12102,2008,18,Yes,80302,579
82,1232,Single Family Residential,3,2,12102,2008,17,Yes,80302,579
109,1225,Single Family Residential,2,2,26,1996,32,No,80302,619
214,1210,Condo,2,2,26,2002,163,Yes,80304,169
80,1188,Condo,1,1,30758,2008,312,Yes,80302,885
32,1128,Condo,2,2,1128,1972,22,Yes,80303,229
106,1109,Single Family Residential,3,1,10848,1950,42,Yes,80302,699
46,1094,Condo,1,2,119661,2004,334,Yes,80303,339
116,1074,Single Family Residential,2,1,148104,1880,772,No,80303,749
94,1064,Townhouse,2,3,7013,2013,9,Yes,80302,525
195,1056,Single Family Residential,3,1,39944,1958,10,No,80304,1250
197,1056,Single Family Residential,3,1,39944,1958,5,No,80304,1250
87,1052,Condo,2,2,127897,2006,34,Yes,80303,425
96,1032,Condo,1,1,96935,2008,136,Yes,80303,309
24,954,Condo,2,2,26,1990,17,Yes,80303,255
98,905,Condo,1,1,27798,2009,151,Yes,80302,599
55,864,Condo,2,1,48,1969,11,No,80303,205
145,798,Condo,1,1,52,1971,40,Yes,80301,129
113,756,Condo,1,1,7423,2007,46,Yes,80302,465
162,739,Condo,2,2,26,1985,4,Yes,80301,234
31,736,Condo,1,1,26,1993,23,No,80303,172
210,690,Condo,1,1,26,2002,340,Yes,80304,239
57,676,Condo,1,1,26,1974,89,Yes,80303,139
218,650,Condo,1,1,22214,2002,62,Yes,80304,127
50,620,Condo,1,1,31308,1963,173,Yes,80302,162
67,570,Condo,1,1,100,1969,43,No,80303,138
73,560,Condo,1,1,25,1988,73,Yes,80302,235
75,542,Condo,1,1,26,1988,3,No,80302,224
72,466,Condo,1,1,22234,1985,72,Yes,80302,235

In [107]:
df = df.sort_values(by = ['outlook','humidity','temp',])

In [108]:
df

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
11  overcast  mild     high   True  yes
6   overcast  cool   normal   True  yes
12  overcast   hot   normal  False  yes
3      rainy  mild     high  False  yes
13     rainy  mild     high   True   no
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
9      rainy  mild   normal  False  yes
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
10     sunny  mild   normal   True  yes

## data.sort_index()

Sort object by labels (along an axis)

In [109]:
df.sort_index(ascending=False)

     outlook  temp humidity  windy play
13     rainy  mild     high   True   no
12  overcast   hot   normal  False  yes
11  overcast  mild     high   True  yes
10     sunny  mild   normal   True  yes
9      rainy  mild   normal  False  yes
8      sunny  cool   normal  False  yes
7      sunny  mild     high  False   no
6   overcast  cool   normal   True  yes
5      rainy  cool   normal   True   no
4      rainy  cool   normal  False  yes
3      rainy  mild     high  False  yes
2   overcast   hot     high  False  yes
1      sunny   hot     high   True   no
0      sunny   hot     high  False   no

## data.T

To transpose rows into columns and columns into rows

In [110]:
df.T

,2,11,6,12,3,13,4,5,9,0,1,7,8,10
outlook,overcast,overcast,overcast,overcast,rainy,rainy,rainy,rainy,rainy,sunny,sunny,sunny,sunny,sunny
temp,hot,mild,cool,hot,mild,mild,cool,cool,mild,hot,hot,mild,cool,mild
humidity,high,high,normal,normal,high,high,normal,normal,normal,high,high,high,normal,normal
windy,False,True,True,False,False,True,False,True,False,False,True,False,False,True
play,yes,yes,yes,yes,yes,no,yes,no,yes,no,no,no,yes,yes

## data .drop()

Pandas provide data analysts a way to delete and filter data frame using .drop() method. Rows or columns can be removed using index label or column name using this method.

`**DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors=’raise’)`**

- labels: String or list of strings referring row or column name.
- axis: int or string value, 0 ‘index’ for Rows and 1 ‘columns’ for Columns.
- index or columns: Single label or list. index or columns are an alternative to axis and cannot be used together.
- level: Used to specify level in case data frame is having multiple level index.
- inplace: Makes changes in original Data Frame if True.
- errors: Ignores error if any value from the list doesn’t exists and drops rest of the values when errors = ‘ignore’

In [111]:
df.head(2)

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
11  overcast  mild     high   True  yes

In [113]:
df.drop('outlook',axis = 1) # Drop outlook column

    temp humidity  windy play
2    hot     high  False  yes
11  mild     high   True  yes
6   cool   normal   True  yes
12   hot   normal  False  yes
3   mild     high  False  yes
13  mild     high   True   no
4   cool   normal  False  yes
5   cool   normal   True   no
9   mild   normal  False  yes
0    hot     high  False   no
1    hot     high   True   no
7   mild     high  False   no
8   cool   normal  False  yes
10  mild   normal   True  yes

In [115]:
df.drop(['outlook','windy'],axis = 1) # Drop outlook and windy column

    temp humidity play
2    hot     high  yes
11  mild     high  yes
6   cool   normal  yes
12   hot   normal  yes
3   mild     high  yes
13  mild     high   no
4   cool   normal  yes
5   cool   normal   no
9   mild   normal  yes
0    hot     high   no
1    hot     high   no
7   mild     high   no
8   cool   normal  yes
10  mild   normal  yes

## Filter  or Subset

In [122]:
data.head(2)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
1,2920,Single Family Residential,3,3,38754,1966,81,Yes,80303,659

In [126]:
# subset of single Family Residential

exp = data['hometype'] == 'Single Family Residential'

data[exp]

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
1,2920,Single Family Residential,3,3,38754,1966,81,Yes,80303,659
2,3845,Single Family Residential,4,3,46609,2005,19,Yes,80303,1840
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
4,3934,Single Family Residential,4,4,40864,2014,130,Yes,80305,1500
5,7113,Single Family Residential,5,5,266152,1991,40,Yes,80303,2790
6,2340,Single Family Residential,4,3,7204,1959,39,Yes,80305,479
7,3857,Single Family Residential,4,3,10671,1995,37,Yes,80305,1487
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
9,6549,Single Family Residential,5,6,30928,2000,92,Yes,80303,1965
10,1293,Single Family Residential,3,1,7928,1962,50,No,80305,410
11,3602,Single Family Residential,4,3,14851,1967,42,Yes,80305,1900
12,2648,Single Family Residential,3,3,12109,1974,67,Yes,80305,899
13,1266,Single Family Residential,3,2,4315,1976,12,Yes,80305,609
14,1796,Single Family Residential,4,2,6970,1962,45,Yes,80305,545
15,2076,Single Family Residential,4,2,7982,1961,24,No,80305,699
16,2052,Single Family Residential,5,2,6970,1963,18,Yes,80305,589
17,3136,Single Family Residential,4,3,11064,1972,135,Yes,80305,700
19,3362,Single Family Residential,3,3,7797,1977,3,Yes,80305,975
20,2360,Single Family Residential,3,2,6273,1950,121,Yes,80302,999
21,2908,Single Family Residential,3,3,11097,1950,101,No,80302,1849
22,2436,Single Family Residential,3,2,92042,1951,158,Yes,80302,3250
23,5769,Single Family Residential,5,6,19471,2012,174,Yes,80302,3875
25,4430,Single Family Residential,5,4,33106,1966,24,Yes,80303,824
26,3276,Single Family Residential,3,3,3790,1987,75,Yes,80303,629
27,1769,Single Family Residential,3,3,7125,1952,38,Yes,80302,699
28,2883,Single Family Residential,5,3,5965,1989,19,Yes,80303,679
30,1882,Single Family Residential,4,2,8741,1969,18,Yes,80303,485
33,3359,Single Family Residential,4,4,11069,1963,26,Yes,80302,998
34,3426,Single Family Residential,5,3,5837,1996,32,Yes,80302,1199
...,...,...,...,...,...,...,...,...,...,...
187,4746,Single Family Residential,4,5,10106,2014,53,Yes,80304,1250
188,4009,Single Family Residential,5,4,3790,2009,89,Yes,80301,829
189,5490,Single Family Residential,6,5,10890,1993,91,Yes,80304,995
190,6167,Single Family Residential,3,3,139828,1998,68,Yes,80304,3250
191,2469,Single Family Residential,3,3,249464,1967,53,Yes,80304,775
192,1698,Single Family Residential,2,3,3955,1983,2,Yes,80304,530
193,2495,Single Family Residential,4,3,37026,1985,13,Yes,80304,670
194,2886,Single Family Residential,6,4,9627,1985,10,Yes,80304,619
195,1056,Single Family Residential,3,1,39944,1958,10,No,80304,1250
196,1468,Single Family Residential,3,2,3659,1985,16,Yes,80304,485
197,1056,Single Family Residential,3,1,39944,1958,5,No,80304,1250
198,4520,Single Family Residential,4,3,7841,1997,13,Yes,80301,797
199,4660,Single Family Residential,5,4,6102,2010,45,Yes,80301,998
200,1534,Single Family Residential,3,2,7020,1959,16,Yes,80304,659
201,3504,Single Family Residential,3,4,25343,1981,2,Yes,80301,734
202,4523,Single Family Residential,4,4,7912,1998,55,Yes,80301,930
203,2464,Single Family Residential,3,3,7441,1986,25,Yes,80304,749
204,5592,Single Family Residential,5,5,22158,2007,67,Yes,80304,2295
205,3722,Single Family Residential,4,3,4200,2013,56,Yes,80301,824
206,3440,Single Family Residential,3,3,5062,2011,36,Yes,80301,895
207,4224,Single Family Residential,3,3,4051,2008,9,Yes,80301,899
208,4820,Single Family Residential,4,4,97574,1999,89,Yes,80304,2250
209,3836,Single Family Residential,4,4,8276,1995,125,Yes,80304,804
211,1728,Single Family Residential,2,2,435600,1951,220,No,80301,750
212,2474,Single Family Residential,3,3,4879,1995,72,Yes,80304,510
213,4555,Single Family Residential,4,4,6077,1999,130,Yes,80304,1025
215,5180,Single Family Residential,6,4,128710,2006,81,Yes,80302,1500
216,5953,Single Family Residential,5,5,37373,2000,121,Yes,80301,2399
217,8619,Single Family Residential,6,6,47216,1991,81,Yes,80304,2495
219,2608,Single Family Residential,3,3,86722,1991,172,Yes,80302,664

In [133]:
data.head()

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
1,2920,Single Family Residential,3,3,38754,1966,81,Yes,80303,659
2,3845,Single Family Residential,4,3,46609,2005,19,Yes,80303,1840
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
4,3934,Single Family Residential,4,4,40864,2014,130,Yes,80305,1500

In [136]:
#beds = 4 and parkingtype = Yes

exp = (data['beds'] == 4) & (data['parkingtype']=='Yes')
data[exp]

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
2,3845,Single Family Residential,4,3,46609,2005,19,Yes,80303,1840
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
4,3934,Single Family Residential,4,4,40864,2014,130,Yes,80305,1500
6,2340,Single Family Residential,4,3,7204,1959,39,Yes,80305,479
7,3857,Single Family Residential,4,3,10671,1995,37,Yes,80305,1487
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
11,3602,Single Family Residential,4,3,14851,1967,42,Yes,80305,1900
14,1796,Single Family Residential,4,2,6970,1962,45,Yes,80305,545
17,3136,Single Family Residential,4,3,11064,1972,135,Yes,80305,700
29,2220,Condo,4,3,30928,1984,34,Yes,80303,375
30,1882,Single Family Residential,4,2,8741,1969,18,Yes,80303,485
33,3359,Single Family Residential,4,4,11069,1963,26,Yes,80302,998
36,3173,Single Family Residential,4,3,14088,1941,47,Yes,80302,998
38,1850,Single Family Residential,4,2,7439,1966,59,Yes,80303,485
39,5353,Single Family Residential,4,4,33585,2008,354,Yes,80303,1850
40,2050,Single Family Residential,4,2,7774,1960,30,Yes,80305,519
48,1976,Single Family Residential,4,2,12454,1968,60,Yes,80303,559
52,2354,Single Family Residential,4,3,14898,1961,215,Yes,80303,575
54,2112,Single Family Residential,4,2,7472,1974,86,Yes,80303,524
59,3156,Single Family Residential,4,2,9148,1955,3,Yes,80302,678
61,4791,Single Family Residential,4,4,20909,1978,73,Yes,80305,1650
62,2932,Single Family Residential,4,4,9627,1941,143,Yes,80302,995
63,4801,Single Family Residential,4,4,8188,1999,11,Yes,80302,2195
65,2054,Single Family Residential,4,2,9895,1962,1,Yes,80303,559
76,3873,Single Family Residential,4,3,8868,1983,49,Yes,80303,749
81,4382,Single Family Residential,4,4,12863,1904,102,Yes,80302,2300
88,4105,Single Family Residential,4,3,6264,1905,27,Yes,80302,1395
110,5780,Single Family Residential,4,3,48395,1969,76,Yes,80302,3950
117,4306,Single Family Residential,4,3,29534,1973,19,Yes,80303,1149
...,...,...,...,...,...,...,...,...,...,...
122,3499,Single Family Residential,4,4,4313,2015,17,Yes,80304,1550
123,4646,Single Family Residential,4,4,10125,2015,87,Yes,80304,2350
124,3326,Single Family Residential,4,3,7682,1952,51,Yes,80304,1445
126,2091,Townhouse,4,3,1080,1975,17,Yes,80301,415
127,2644,Single Family Residential,4,3,8300,1978,19,Yes,80304,865
128,4650,Single Family Residential,4,3,6588,1953,102,Yes,80304,1195
132,4488,Single Family Residential,4,4,6613,2014,160,Yes,80304,1950
134,4311,Single Family Residential,4,4,6215,1999,74,Yes,80304,1900
135,4000,Single Family Residential,4,4,10110,2014,55,Yes,80304,1195
143,3099,Single Family Residential,4,3,8206,1978,13,Yes,80304,775
149,3728,Single Family Residential,4,4,15058,1991,128,Yes,80304,900
151,2628,Single Family Residential,4,3,7762,1965,104,Yes,80304,819
155,4455,Single Family Residential,4,4,5981,2015,5,Yes,80304,1780
161,3744,Single Family Residential,4,4,9453,1984,37,Yes,80304,837
164,5386,Single Family Residential,4,2,40075,1988,107,Yes,80304,2550
165,4116,Single Family Residential,4,3,26833,1982,101,Yes,80304,2299
167,2222,Single Family Residential,4,2,5519,1970,31,Yes,80301,510
172,3468,Single Family Residential,4,3,35109,1975,79,Yes,80304,895
177,5133,Single Family Residential,4,2,30056,2002,127,Yes,80304,2825
179,4259,Single Family Residential,4,3,6795,2000,36,Yes,80304,1289
180,5632,Single Family Residential,4,6,50901,2005,27,Yes,80304,2295
183,4604,Single Family Residential,4,4,4500,2014,88,Yes,80301,1150
187,4746,Single Family Residential,4,5,10106,2014,53,Yes,80304,1250
193,2495,Single Family Residential,4,3,37026,1985,13,Yes,80304,670
198,4520,Single Family Residential,4,3,7841,1997,13,Yes,80301,797
202,4523,Single Family Residential,4,4,7912,1998,55,Yes,80301,930
205,3722,Single Family Residential,4,3,4200,2013,56,Yes,80301,824
208,4820,Single Family Residential,4,4,97574,1999,89,Yes,80304,2250
209,3836,Single Family Residential,4,4,8276,1995,125,Yes,80304,804
213,4555,Single Family Residential,4,4,6077,1999,130,Yes,80304,1025

In [137]:
# listprice >1500 of single family residential with 2 beds 
exp = (data['listprice']>1500) & (data['hometype']=='Single Family Residential')&(data['beds']==2)

data[exp]

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
100,5026,Single Family Residential,2,2,31450,2008,241,Yes,80302,4250

In [138]:
data[(data['listprice']>1500) & (data['hometype']=='Single Family Residential')&(data['beds']==2)]

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
100,5026,Single Family Residential,2,2,31450,2008,241,Yes,80302,4250

In [ ]:
data[data['parkingtype']==1].head(3)

In [ ]:
data [(data['parkingtype']==1) & (data['beds']==4)]

In [ ]:
data[(data['parkingtype']==1) | (data['beds']==3)]

## DataFrame.query()

Analyzing data requires a lot of filtering operations. Pandas provide many methods to filter a Data frame and `Dataframe.query()`

**`DataFrame.query(expr, inplace=False)`**

- expr: Expression in string form to filter data.
- inplace: Make changes in the original data frame if True

In [139]:
exp = data['parkingtype']=='Yes'
data[exp]

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
1,2920,Single Family Residential,3,3,38754,1966,81,Yes,80303,659
2,3845,Single Family Residential,4,3,46609,2005,19,Yes,80303,1840
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
4,3934,Single Family Residential,4,4,40864,2014,130,Yes,80305,1500
5,7113,Single Family Residential,5,5,266152,1991,40,Yes,80303,2790
6,2340,Single Family Residential,4,3,7204,1959,39,Yes,80305,479
7,3857,Single Family Residential,4,3,10671,1995,37,Yes,80305,1487
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
9,6549,Single Family Residential,5,6,30928,2000,92,Yes,80303,1965
11,3602,Single Family Residential,4,3,14851,1967,42,Yes,80305,1900
12,2648,Single Family Residential,3,3,12109,1974,67,Yes,80305,899
13,1266,Single Family Residential,3,2,4315,1976,12,Yes,80305,609
14,1796,Single Family Residential,4,2,6970,1962,45,Yes,80305,545
16,2052,Single Family Residential,5,2,6970,1963,18,Yes,80305,589
17,3136,Single Family Residential,4,3,11064,1972,135,Yes,80305,700
18,1320,Townhouse,3,2,1684,1978,5,Yes,80305,415
19,3362,Single Family Residential,3,3,7797,1977,3,Yes,80305,975
20,2360,Single Family Residential,3,2,6273,1950,121,Yes,80302,999
22,2436,Single Family Residential,3,2,92042,1951,158,Yes,80302,3250
23,5769,Single Family Residential,5,6,19471,2012,174,Yes,80302,3875
24,954,Condo,2,2,26,1990,17,Yes,80303,255
25,4430,Single Family Residential,5,4,33106,1966,24,Yes,80303,824
26,3276,Single Family Residential,3,3,3790,1987,75,Yes,80303,629
27,1769,Single Family Residential,3,3,7125,1952,38,Yes,80302,699
28,2883,Single Family Residential,5,3,5965,1989,19,Yes,80303,679
29,2220,Condo,4,3,30928,1984,34,Yes,80303,375
30,1882,Single Family Residential,4,2,8741,1969,18,Yes,80303,485
32,1128,Condo,2,2,1128,1972,22,Yes,80303,229
33,3359,Single Family Residential,4,4,11069,1963,26,Yes,80302,998
...,...,...,...,...,...,...,...,...,...,...
187,4746,Single Family Residential,4,5,10106,2014,53,Yes,80304,1250
188,4009,Single Family Residential,5,4,3790,2009,89,Yes,80301,829
189,5490,Single Family Residential,6,5,10890,1993,91,Yes,80304,995
190,6167,Single Family Residential,3,3,139828,1998,68,Yes,80304,3250
191,2469,Single Family Residential,3,3,249464,1967,53,Yes,80304,775
192,1698,Single Family Residential,2,3,3955,1983,2,Yes,80304,530
193,2495,Single Family Residential,4,3,37026,1985,13,Yes,80304,670
194,2886,Single Family Residential,6,4,9627,1985,10,Yes,80304,619
196,1468,Single Family Residential,3,2,3659,1985,16,Yes,80304,485
198,4520,Single Family Residential,4,3,7841,1997,13,Yes,80301,797
199,4660,Single Family Residential,5,4,6102,2010,45,Yes,80301,998
200,1534,Single Family Residential,3,2,7020,1959,16,Yes,80304,659
201,3504,Single Family Residential,3,4,25343,1981,2,Yes,80301,734
202,4523,Single Family Residential,4,4,7912,1998,55,Yes,80301,930
203,2464,Single Family Residential,3,3,7441,1986,25,Yes,80304,749
204,5592,Single Family Residential,5,5,22158,2007,67,Yes,80304,2295
205,3722,Single Family Residential,4,3,4200,2013,56,Yes,80301,824
206,3440,Single Family Residential,3,3,5062,2011,36,Yes,80301,895
207,4224,Single Family Residential,3,3,4051,2008,9,Yes,80301,899
208,4820,Single Family Residential,4,4,97574,1999,89,Yes,80304,2250
209,3836,Single Family Residential,4,4,8276,1995,125,Yes,80304,804
210,690,Condo,1,1,26,2002,340,Yes,80304,239
212,2474,Single Family Residential,3,3,4879,1995,72,Yes,80304,510
213,4555,Single Family Residential,4,4,6077,1999,130,Yes,80304,1025
214,1210,Condo,2,2,26,2002,163,Yes,80304,169
215,5180,Single Family Residential,6,4,128710,2006,81,Yes,80302,1500
216,5953,Single Family Residential,5,5,37373,2000,121,Yes,80301,2399
217,8619,Single Family Residential,6,6,47216,1991,81,Yes,80304,2495
218,650,Condo,1,1,22214,2002,62,Yes,80304,127
219,2608,Single Family Residential,3,3,86722,1991,172,Yes,80302,664

In [142]:
#exp = parkingtype == "Yes"
data.query('parkingtype == "Yes"')

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
1,2920,Single Family Residential,3,3,38754,1966,81,Yes,80303,659
2,3845,Single Family Residential,4,3,46609,2005,19,Yes,80303,1840
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
4,3934,Single Family Residential,4,4,40864,2014,130,Yes,80305,1500
5,7113,Single Family Residential,5,5,266152,1991,40,Yes,80303,2790
6,2340,Single Family Residential,4,3,7204,1959,39,Yes,80305,479
7,3857,Single Family Residential,4,3,10671,1995,37,Yes,80305,1487
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
9,6549,Single Family Residential,5,6,30928,2000,92,Yes,80303,1965
11,3602,Single Family Residential,4,3,14851,1967,42,Yes,80305,1900
12,2648,Single Family Residential,3,3,12109,1974,67,Yes,80305,899
13,1266,Single Family Residential,3,2,4315,1976,12,Yes,80305,609
14,1796,Single Family Residential,4,2,6970,1962,45,Yes,80305,545
16,2052,Single Family Residential,5,2,6970,1963,18,Yes,80305,589
17,3136,Single Family Residential,4,3,11064,1972,135,Yes,80305,700
18,1320,Townhouse,3,2,1684,1978,5,Yes,80305,415
19,3362,Single Family Residential,3,3,7797,1977,3,Yes,80305,975
20,2360,Single Family Residential,3,2,6273,1950,121,Yes,80302,999
22,2436,Single Family Residential,3,2,92042,1951,158,Yes,80302,3250
23,5769,Single Family Residential,5,6,19471,2012,174,Yes,80302,3875
24,954,Condo,2,2,26,1990,17,Yes,80303,255
25,4430,Single Family Residential,5,4,33106,1966,24,Yes,80303,824
26,3276,Single Family Residential,3,3,3790,1987,75,Yes,80303,629
27,1769,Single Family Residential,3,3,7125,1952,38,Yes,80302,699
28,2883,Single Family Residential,5,3,5965,1989,19,Yes,80303,679
29,2220,Condo,4,3,30928,1984,34,Yes,80303,375
30,1882,Single Family Residential,4,2,8741,1969,18,Yes,80303,485
32,1128,Condo,2,2,1128,1972,22,Yes,80303,229
33,3359,Single Family Residential,4,4,11069,1963,26,Yes,80302,998
...,...,...,...,...,...,...,...,...,...,...
187,4746,Single Family Residential,4,5,10106,2014,53,Yes,80304,1250
188,4009,Single Family Residential,5,4,3790,2009,89,Yes,80301,829
189,5490,Single Family Residential,6,5,10890,1993,91,Yes,80304,995
190,6167,Single Family Residential,3,3,139828,1998,68,Yes,80304,3250
191,2469,Single Family Residential,3,3,249464,1967,53,Yes,80304,775
192,1698,Single Family Residential,2,3,3955,1983,2,Yes,80304,530
193,2495,Single Family Residential,4,3,37026,1985,13,Yes,80304,670
194,2886,Single Family Residential,6,4,9627,1985,10,Yes,80304,619
196,1468,Single Family Residential,3,2,3659,1985,16,Yes,80304,485
198,4520,Single Family Residential,4,3,7841,1997,13,Yes,80301,797
199,4660,Single Family Residential,5,4,6102,2010,45,Yes,80301,998
200,1534,Single Family Residential,3,2,7020,1959,16,Yes,80304,659
201,3504,Single Family Residential,3,4,25343,1981,2,Yes,80301,734
202,4523,Single Family Residential,4,4,7912,1998,55,Yes,80301,930
203,2464,Single Family Residential,3,3,7441,1986,25,Yes,80304,749
204,5592,Single Family Residential,5,5,22158,2007,67,Yes,80304,2295
205,3722,Single Family Residential,4,3,4200,2013,56,Yes,80301,824
206,3440,Single Family Residential,3,3,5062,2011,36,Yes,80301,895
207,4224,Single Family Residential,3,3,4051,2008,9,Yes,80301,899
208,4820,Single Family Residential,4,4,97574,1999,89,Yes,80304,2250
209,3836,Single Family Residential,4,4,8276,1995,125,Yes,80304,804
210,690,Condo,1,1,26,2002,340,Yes,80304,239
212,2474,Single Family Residential,3,3,4879,1995,72,Yes,80304,510
213,4555,Single Family Residential,4,4,6077,1999,130,Yes,80304,1025
214,1210,Condo,2,2,26,2002,163,Yes,80304,169
215,5180,Single Family Residential,6,4,128710,2006,81,Yes,80302,1500
216,5953,Single Family Residential,5,5,37373,2000,121,Yes,80301,2399
217,8619,Single Family Residential,6,6,47216,1991,81,Yes,80304,2495
218,650,Condo,1,1,22214,2002,62,Yes,80304,127
219,2608,Single Family Residential,3,3,86722,1991,172,Yes,80302,664

In [143]:
data.query('parkingtype =="Yes" and beds==4')

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
2,3845,Single Family Residential,4,3,46609,2005,19,Yes,80303,1840
3,5588,Single Family Residential,4,5,223463,2008,116,Yes,80303,6499
4,3934,Single Family Residential,4,4,40864,2014,130,Yes,80305,1500
6,2340,Single Family Residential,4,3,7204,1959,39,Yes,80305,479
7,3857,Single Family Residential,4,3,10671,1995,37,Yes,80305,1487
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
11,3602,Single Family Residential,4,3,14851,1967,42,Yes,80305,1900
14,1796,Single Family Residential,4,2,6970,1962,45,Yes,80305,545
17,3136,Single Family Residential,4,3,11064,1972,135,Yes,80305,700
29,2220,Condo,4,3,30928,1984,34,Yes,80303,375
30,1882,Single Family Residential,4,2,8741,1969,18,Yes,80303,485
33,3359,Single Family Residential,4,4,11069,1963,26,Yes,80302,998
36,3173,Single Family Residential,4,3,14088,1941,47,Yes,80302,998
38,1850,Single Family Residential,4,2,7439,1966,59,Yes,80303,485
39,5353,Single Family Residential,4,4,33585,2008,354,Yes,80303,1850
40,2050,Single Family Residential,4,2,7774,1960,30,Yes,80305,519
48,1976,Single Family Residential,4,2,12454,1968,60,Yes,80303,559
52,2354,Single Family Residential,4,3,14898,1961,215,Yes,80303,575
54,2112,Single Family Residential,4,2,7472,1974,86,Yes,80303,524
59,3156,Single Family Residential,4,2,9148,1955,3,Yes,80302,678
61,4791,Single Family Residential,4,4,20909,1978,73,Yes,80305,1650
62,2932,Single Family Residential,4,4,9627,1941,143,Yes,80302,995
63,4801,Single Family Residential,4,4,8188,1999,11,Yes,80302,2195
65,2054,Single Family Residential,4,2,9895,1962,1,Yes,80303,559
76,3873,Single Family Residential,4,3,8868,1983,49,Yes,80303,749
81,4382,Single Family Residential,4,4,12863,1904,102,Yes,80302,2300
88,4105,Single Family Residential,4,3,6264,1905,27,Yes,80302,1395
110,5780,Single Family Residential,4,3,48395,1969,76,Yes,80302,3950
117,4306,Single Family Residential,4,3,29534,1973,19,Yes,80303,1149
...,...,...,...,...,...,...,...,...,...,...
122,3499,Single Family Residential,4,4,4313,2015,17,Yes,80304,1550
123,4646,Single Family Residential,4,4,10125,2015,87,Yes,80304,2350
124,3326,Single Family Residential,4,3,7682,1952,51,Yes,80304,1445
126,2091,Townhouse,4,3,1080,1975,17,Yes,80301,415
127,2644,Single Family Residential,4,3,8300,1978,19,Yes,80304,865
128,4650,Single Family Residential,4,3,6588,1953,102,Yes,80304,1195
132,4488,Single Family Residential,4,4,6613,2014,160,Yes,80304,1950
134,4311,Single Family Residential,4,4,6215,1999,74,Yes,80304,1900
135,4000,Single Family Residential,4,4,10110,2014,55,Yes,80304,1195
143,3099,Single Family Residential,4,3,8206,1978,13,Yes,80304,775
149,3728,Single Family Residential,4,4,15058,1991,128,Yes,80304,900
151,2628,Single Family Residential,4,3,7762,1965,104,Yes,80304,819
155,4455,Single Family Residential,4,4,5981,2015,5,Yes,80304,1780
161,3744,Single Family Residential,4,4,9453,1984,37,Yes,80304,837
164,5386,Single Family Residential,4,2,40075,1988,107,Yes,80304,2550
165,4116,Single Family Residential,4,3,26833,1982,101,Yes,80304,2299
167,2222,Single Family Residential,4,2,5519,1970,31,Yes,80301,510
172,3468,Single Family Residential,4,3,35109,1975,79,Yes,80304,895
177,5133,Single Family Residential,4,2,30056,2002,127,Yes,80304,2825
179,4259,Single Family Residential,4,3,6795,2000,36,Yes,80304,1289
180,5632,Single Family Residential,4,6,50901,2005,27,Yes,80304,2295
183,4604,Single Family Residential,4,4,4500,2014,88,Yes,80301,1150
187,4746,Single Family Residential,4,5,10106,2014,53,Yes,80304,1250
193,2495,Single Family Residential,4,3,37026,1985,13,Yes,80304,670
198,4520,Single Family Residential,4,3,7841,1997,13,Yes,80301,797
202,4523,Single Family Residential,4,4,7912,1998,55,Yes,80301,930
205,3722,Single Family Residential,4,3,4200,2013,56,Yes,80301,824
208,4820,Single Family Residential,4,4,97574,1999,89,Yes,80304,2250
209,3836,Single Family Residential,4,4,8276,1995,125,Yes,80304,804
213,4555,Single Family Residential,4,4,6077,1999,130,Yes,80304,1025

In [150]:
#zip either 80303 or 80305 with beds=2

data.query('(zip == 80303 or zip == 80305) and beds==2')

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
24,954,Condo,2,2,26,1990,17,Yes,80303,255
32,1128,Condo,2,2,1128,1972,22,Yes,80303,229
55,864,Condo,2,1,48,1969,11,No,80303,205
66,2122,Condo,2,2,27037,2009,170,Yes,80303,1389
68,1338,Condo,2,3,81969,2009,75,Yes,80303,437
77,1420,Townhouse,2,2,1060,1997,2,Yes,80303,419
87,1052,Condo,2,2,127897,2006,34,Yes,80303,425
90,1394,Condo,2,2,127897,2008,173,Yes,80303,499
93,1407,Condo,2,2,128066,2006,60,Yes,80303,485
116,1074,Single Family Residential,2,1,148104,1880,772,No,80303,749

In [ ]:
data.query('hometype == "Single Family Residential" and parkingtype == 1 and beds == 3').shape

## data.sample( )

data.sample(n = ,frac = )

sample( ) is used to draw random samples from the dataset containing all the columns. Here n = 5 depicts we need 5 columns and frac = 0.1 tells that we need 10 percent of the data as my sample.

In [146]:
data.sample(n=5)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
75,542,Condo,1,1,26,1988,3,No,80302,224
218,650,Condo,1,1,22214,2002,62,Yes,80304,127
22,2436,Single Family Residential,3,2,92042,1951,158,Yes,80302,3250
178,1408,Single Family Residential,3,1,9931,1949,58,Yes,80304,574
39,5353,Single Family Residential,4,4,33585,2008,354,Yes,80303,1850

In [147]:
data.sample(frac=0.25)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
23,5769,Single Family Residential,5,6,19471,2012,174,Yes,80302,3875
34,3426,Single Family Residential,5,3,5837,1996,32,Yes,80302,1199
91,4789,Single Family Residential,5,5,10333,2014,46,Yes,80302,2790
45,4176,Single Family Residential,3,3,12371,1923,398,Yes,80302,1700
81,4382,Single Family Residential,4,4,12863,1904,102,Yes,80302,2300
118,5068,Single Family Residential,5,4,16117,1993,16,Yes,80303,1185
153,1241,Townhouse,2,2,1974,1982,8,Yes,80301,369
98,905,Condo,1,1,27798,2009,151,Yes,80302,599
7,3857,Single Family Residential,4,3,10671,1995,37,Yes,80305,1487
176,6908,Single Family Residential,5,6,45782,2004,37,Yes,80304,2995
76,3873,Single Family Residential,4,3,8868,1983,49,Yes,80303,749
75,542,Condo,1,1,26,1988,3,No,80302,224
180,5632,Single Family Residential,4,6,50901,2005,27,Yes,80304,2295
60,2813,Single Family Residential,3,3,11718,1955,3,Yes,80302,1175
162,739,Condo,2,2,26,1985,4,Yes,80301,234
85,1920,Single Family Residential,3,2,3460,1926,25,No,80302,577
12,2648,Single Family Residential,3,3,12109,1974,67,Yes,80305,899
0,3040,Single Family Residential,4,3,54886,1961,349,Yes,80303,895
84,3882,Single Family Residential,3,4,12545,2001,109,Yes,80302,2125
73,560,Condo,1,1,25,1988,73,Yes,80302,235
43,2892,Single Family Residential,3,2,115434,1964,70,Yes,80303,899
164,5386,Single Family Residential,4,2,40075,1988,107,Yes,80304,2550
50,620,Condo,1,1,31308,1963,173,Yes,80302,162
122,3499,Single Family Residential,4,4,4313,2015,17,Yes,80304,1550
204,5592,Single Family Residential,5,5,22158,2007,67,Yes,80304,2295
193,2495,Single Family Residential,4,3,37026,1985,13,Yes,80304,670
78,2071,Single Family Residential,3,2,40474,1958,2,Yes,80303,749
41,4386,Single Family Residential,6,4,65340,1961,37,Yes,80303,1095
108,2682,Single Family Residential,3,2,10934,1954,388,Yes,80302,1850
62,2932,Single Family Residential,4,4,9627,1941,143,Yes,80302,995
157,1530,Single Family Residential,2,3,1232,1979,3,Yes,80301,319
40,2050,Single Family Residential,4,2,7774,1960,30,Yes,80305,519
97,2382,Single Family Residential,5,2,4792,1920,2,No,80302,689
83,3234,Single Family Residential,5,3,5770,1923,16,Yes,80302,799
183,4604,Single Family Residential,4,4,4500,2014,88,Yes,80301,1150
6,2340,Single Family Residential,4,3,7204,1959,39,Yes,80305,479
74,2688,Single Family Residential,3,2,6978,1968,4,No,80303,449
8,6589,Single Family Residential,4,5,15682,1979,35,Yes,80305,2795
190,6167,Single Family Residential,3,3,139828,1998,68,Yes,80304,3250
134,4311,Single Family Residential,4,4,6215,1999,74,Yes,80304,1900
186,10466,Single Family Residential,5,6,190970,2011,50,Yes,80304,7500
29,2220,Condo,4,3,30928,1984,34,Yes,80303,375
72,466,Condo,1,1,22234,1985,72,Yes,80302,235
154,2532,Single Family Residential,3,2,10823,1900,41,Yes,80304,995
211,1728,Single Family Residential,2,2,435600,1951,220,No,80301,750
199,4660,Single Family Residential,5,4,6102,2010,45,Yes,80301,998
5,7113,Single Family Residential,5,5,266152,1991,40,Yes,80303,2790
147,2928,Single Family Residential,5,3,8239,1988,51,Yes,80304,799
19,3362,Single Family Residential,3,3,7797,1977,3,Yes,80305,975
92,1949,Condo,2,2,14765,2008,366,Yes,80302,1325
119,4145,Single Family Residential,4,3,16361,1956,104,Yes,80304,1200
120,5315,Single Family Residential,4,5,13460,2008,150,Yes,80304,2250
115,1728,Townhouse,3,2,21819,1977,3,Yes,80302,474
165,4116,Single Family Residential,4,3,26833,1982,101,Yes,80304,2299
18,1320,Townhouse,3,2,1684,1978,5,Yes,80305,415