In [1]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_excel("housesales.xlsx")
df.head(2)

,sqft,hometype,beds,baths,lotsize,yearbulit,daysonmarket,parkingtype,zip,listprice
0,3040,Single Family Residential,4,3,54886,1961,349,1,80303,895.0
1,2920,Single Family Residential,3,3,38754,1966,81,1,80303,659.0

In [3]:
ser = df.groupby(by=['hometype','zip'])['listprice'].mean()

In [4]:
ser

hometype                   zip
Condo                      80301     182.375000
                           80302     731.179167
                           80303     385.921357
                           80304     802.441000
Single Family Residential  80301     870.625765
                           80302    1613.842857
                           80303    1134.278571
                           80304    1434.703676
                           80305     919.709524
Townhouse                  80301     392.000000
                           80302     499.500000
                           80303     419.000000
                           80304     660.000000
                           80305     415.000000
Name: listprice, dtype: float64

In [6]:
type(ser)

pandas.core.series.Series

In [12]:
ser[:,80301]

hometype
Condo                        182.375000
Single Family Residential    870.625765
Townhouse                    392.000000
Name: listprice, dtype: float64

In [19]:
df1 = ser.unstack()

In [20]:
df1

zip,80301,80302,80303,80304,80305
hometype,,,,,
Condo,182.375000,731.179167,385.921357,802.441000,NaN
Single Family Residential,870.625765,1613.842857,1134.278571,1434.703676,919.709524
Townhouse,392.000000,499.500000,419.000000,660.000000,415.000000

In [21]:
df1.loc['Condo']

zip
80301    182.375000
80302    731.179167
80303    385.921357
80304    802.441000
80305           NaN
Name: Condo, dtype: float64

In [24]:
df2 = df.set_index(['zip','hometype'])
df2

                                 sqft  beds  baths  lotsize  yearbulit  \
zip   hometype
80303 Single Family Residential  3040     4      3    54886       1961
      Single Family Residential  2920     3      3    38754       1966
      Single Family Residential  3845     4      3    46609       2005
      Single Family Residential  5588     4      5   223463       2008
80305 Single Family Residential  3934     4      4    40864       2014
80303 Single Family Residential  7113     5      5   266152       1991
80305 Single Family Residential  2340     4      3     7204       1959
      Single Family Residential  3857     4      3    10671       1995
      Single Family Residential  6589     4      5    15682       1979
80303 Single Family Residential  6549     5      6    30928       2000
80305 Single Family Residential  1293     3      1     7928       1962
      Single Family Residential  3602     4      3    14851       1967
      Single Family Residential  2648     3      3    12109       1974
      Single Family Residential  1266     3      2     4315       1976
      Single Family Residential  1796     4      2     6970       1962
      Single Family Residential  2076     4      2     7982       1961
      Single Family Residential  2052     5      2     6970       1963
      Single Family Residential  3136     4      3    11064       1972
      Townhouse                  1320     3      2     1684       1978
      Single Family Residential  3362     3      3     7797       1977
80302 Single Family Residential  2360     3      2     6273       1950
      Single Family Residential  2908     3      3    11097       1950
      Single Family Residential  2436     3      2    92042       1951
      Single Family Residential  5769     5      6    19471       2012
80303 Condo                       954     2      2       26       1990
      Single Family Residential  4430     5      4    33106       1966
      Single Family Residential  3276     3      3     3790       1987
80302 Single Family Residential  1769     3      3     7125       1952
80303 Single Family Residential  2883     5      3     5965       1989
      Condo                      2220     4      3    30928       1984
...                               ...   ...    ...      ...        ...
80304 Single Family Residential  6167     3      3   139828       1998
      Single Family Residential  2469     3      3   249464       1967
      Single Family Residential  1698     2      3     3955       1983
      Single Family Residential  2495     4      3    37026       1985
      Single Family Residential  2886     6      4     9627       1985
      Single Family Residential  1056     3      1    39944       1958
      Single Family Residential  1468     3      2     3659       1985
      Single Family Residential  1056     3      1    39944       1958
80301 Single Family Residential  4520     4      3     7841       1997
      Single Family Residential  4660     5      4     6102       2010
80304 Single Family Residential  1534     3      2     7020       1959
80301 Single Family Residential  3504     3      4    25343       1981
      Single Family Residential  4523     4      4     7912       1998
80304 Single Family Residential  2464     3      3     7441       1986
      Single Family Residential  5592     5      5    22158       2007
80301 Single Family Residential  3722     4      3     4200       2013
      Single Family Residential  3440     3      3     5062       2011
      Single Family Residential  4224     3      3     4051       2008
80304 Single Family Residential  4820     4      4    97574       1999
      Single Family Residential  3836     4      4     8276       1995
      Condo                       690     1      1       26       2002
80301 Single Family Residential  1728     2      2   435600       1951
80304 Single Family Residential  2474     3      3     4879       1995
      Single Family Residential  4555     4      4     6077       1999
      Condo                      1210     2      2       26       2002
80302 Single Family Residential  5180     6      4   128710       2006
80301 Single Family Residential  5953     5      5    37373       2000
80304 Single Family Residential  8619     6      6    47216       1991
      Condo                       650     1      1    22214       2002
80302 Single Family Residential  2608     3      3    86722       1991

                                 daysonmarket  parkingtype  listprice
zip   hometype
80303 Single Family Residential           349            1    895.000
      Single Family Residential            81            1    659.000
      Single Family Residential            19            1   1840.000
      Single Family Residential           116            1   6499.000
80305 Single Family Residential           130            1   1500.000
80303 Single Family Residential            40            1   2790.000
80305 Single Family Residential            39            1    479.900
      Single Family Residential            37            1   1487.500
      Single Family Residential            35            1   2795.000
80303 Single Family Residential            92            1   1965.000
80305 Single Family Residential            50            0    410.000
      Single Family Residential            42            1   1900.000
      Single Family Residential            67            1    899.900
      Single Family Residential            12            1    609.900
      Single Family Residential            45            1    545.000
      Single Family Residential            24            0    699.900
      Single Family Residential            18            1    589.000
      Single Family Residential           135            1    700.000
      Townhouse                             5            1    415.000
      Single Family Residential             3            1    975.000
80302 Single Family Residential           121            1    999.900
      Single Family Residential           101            0   1849.000
      Single Family Residential           158            1   3250.000
      Single Family Residential           174            1   3875.000
80303 Condo                                17            1    255.000
      Single Family Residential            24            1    824.000
      Single Family Residential            75            1    629.500
80302 Single Family Residential            38            1    699.900
80303 Single Family Residential            19            1    679.000
      Condo                                34            1    375.000
...                                       ...          ...        ...
80304 Single Family Residential            68            1   3250.000
      Single Family Residential            53            1    775.000
      Single Family Residential             2            1    530.000
      Single Family Residential            13            1    670.000
      Single Family Residential            10            1    619.900
      Single Family Residential            10            0   1250.000
      Single Family Residential            16            1    485.000
      Single Family Residential             5            0   1250.000
80301 Single Family Residential            13            1    797.000
      Single Family Residential            45            1    998.000
80304 Single Family Residential            16            1    659.900
80301 Single Family Residential             2            1    734.900
      Single Family Residential            55            1    930.000
80304 Single Family Residential            25            1    749.900
      Single Family Residential            67            1   2295.000
80301 Single Family Residential            56            1    824.900
      Single Family Residential            36            1    895.000
      Single Family Residential             9            1    899.000
80304 Single Family Residential            89            1   2250.000
      Single Family Residential           125            1    804.000
      Condo                               340            1    239.500
80301 Single Family Residential           220            0    750.000
80304 Single Family Residential            72            1    510.000
      Single Family Residential           130            1   1025.000
      Condo                               163            1    169.500
80302 Single Family Residential            81            1   1500.000
80301 Single Family Residential           121            1   2399.000
80304 Single Family Residential            81            1   2495.000
      Condo                                62            1    127.969
80302 Single Family Residential           172            1    664.900

[220 rows x 8 columns]

In [26]:
df2.index

MultiIndex(levels=[[80301, 80302, 80303, 80304, 80305], ['Condo', 'Single Family Residential', 'Townhouse']],
           labels=[[2, 2, 2, 2, 4, 2, 4, 4, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 4, 2, 2, 4, 2, 2, 2, 4, 1, 2, 4, 2, 1, 1, 4, 2, 2, 2, 2, 1, 2, 4, 1, 1, 4, 1, 1, 4, 2, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3, 0, 3, 3, 3, 0, 3, 3, 0, 3, 0, 3, 3, 3, 3, 0, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 3, 3, 3, 3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 3, 0, 0, 3, 3, 0, 0, 0, 3, 3, 3, 0, 3, 3, 3, 1, 0, 3, 3, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 2, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1]],
           names=['zip', 'hometype'])

In [27]:
df2.sort_index(inplace=True)

In [50]:
df2.loc[(slice(80301,80303),'Condo'),'sqft']

zip    hometype
80301  Condo        798
       Condo        739
80302  Condo        620
       Condo        466
       Condo        560
       Condo        542
       Condo       1188
       Condo       1996
       Condo       1949
       Condo        905
       Condo       5888
       Condo       1312
       Condo       1510
       Condo        756
80303  Condo        954
       Condo       2220
       Condo        736
       Condo       1128
       Condo       1094
       Condo        864
       Condo        676
       Condo       2122
       Condo        570
       Condo       1338
       Condo       1052
       Condo       1394
       Condo       1407
       Condo       1032
Name: sqft, dtype: int64